In [43]:
import numpy as np

In [44]:
a=np.array((1,2,3,4.))

In [45]:
a.dtype

dtype('float64')

In [46]:
a

array([1., 2., 3., 4.])

In [47]:
a+1

array([2., 3., 4., 5.])

In [48]:
a

array([1., 2., 3., 4.])

In [49]:
a=np.array([[1.0,2,3],[4,5,6]])

In [50]:
a

array([[1., 2., 3.],
       [4., 5., 6.]])

In [51]:
b=np.array([10, 100, 1000])

In [52]:
b

array([  10,  100, 1000])

In [53]:
a[1, 1:2]

array([5.])

In [54]:
np.sum(a)

21.0

In [55]:
a.sum(axis=0)

array([5., 7., 9.])

In [56]:
np.arange(2*5).reshape(2,5, 1)

array([[[0],
        [1],
        [2],
        [3],
        [4]],

       [[5],
        [6],
        [7],
        [8],
        [9]]])

In [57]:
import pandas as pd

In [58]:
pd.read_excel("课程参与者.xlsx").info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   用户id    4 non-null      int64
 1   姓名      4 non-null      object
 2   年龄      4 non-null      int64
 3   国家      4 non-null      object
 4   分数      4 non-null      float64
 5   大陆      4 non-null      object
dtypes: float64(1), int64(2), object(3)
memory usage: 320.0+ bytes

In [59]:
data = [["马克", 55, "意大利", 4.5, "欧洲"],
                ["约翰", 33, "美国", 6.7, "美洲"],
                ["提姆", 41, "美国", 3.9, "美洲"],
                ["珍妮", 12, "德国", 9.0, "欧洲"]]
df = pd.DataFrame(data=data,     
                          columns=["姓名", "年龄", "国家", "分数", "大陆"],
                          index=[1001, 1000, 1002, 1003])
df

      姓名  年龄   国家   分数  大陆
1001  马克  55  意大利  4.5  欧洲
1000  约翰  33   美国  6.7  美洲
1002  提姆  41   美国  3.9  美洲
1003  珍妮  12   德国  9.0  欧洲

In [65]:
df1 = df.reset_index().set_index(["大陆", "国家"])
df1
help(df1.reset_index)

Help on method reset_index in module pandas.core.frame:

reset_index(level: 'Optional[Union[Hashable, Sequence[Hashable]]]' = None, drop: 'bool' = False, inplace: 'bool' = False, col_level: 'Hashable' = 0, col_fill: 'Label' = '') -> 'Optional[DataFrame]' method of pandas.core.frame.DataFrame instance
    Reset the index, or a level of it.

    Reset the index of the DataFrame, and use the default one instead.
    If the DataFrame has a MultiIndex, this method can remove one or more
    levels.

    Parameters
    ----------
    level : int, str, tuple, or list, default None
        Only remove the given levels from the index. Removes all levels by
        default.
    drop : bool, default False
        Do not try to insert index into dataframe columns. This resets
        the index to the default integer index.
    inplace : bool, default False
        Modify the DataFrame in place (do not create a new object).
    col_level : int or str, default 0
        If the columns have multiple levels, determines which level the
        labels are inserted into. By default it is inserted into the first
        level.
    col_fill : object, default ''
        If the columns have multiple levels, determines how the other
        levels are named. If None then the index name is repeated.

    Returns
    -------
    DataFrame or None
        DataFrame with the new index or None if ``inplace=True``.

    See Also
    --------
    DataFrame.set_index : Opposite of reset_index.
    DataFrame.reindex : Change to new indices or expand indices.
    DataFrame.reindex_like : Change to same indices as other DataFrame.

    Examples
    --------
    >>> df = pd.DataFrame([('bird', 389.0),
    ...                    ('bird', 24.0),
    ...                    ('mammal', 80.5),
    ...                    ('mammal', np.nan)],
    ...                   index=['falcon', 'parrot', 'lion', 'monkey'],
    ...                   columns=('class', 'max_speed'))
    >>> df
             class  max_speed
    falcon    bird      389.0
    parrot    bird       24.0
    lion    mammal       80.5
    monkey  mammal        NaN

    When we reset the index, the old index is added as a column, and a
    new sequential index is used:

    >>> df.reset_index()
        index   class  max_speed
    0  falcon    bird      389.0
    1  parrot    bird       24.0
    2    lion  mammal       80.5
    3  monkey  mammal        NaN

    We can use the `drop` parameter to avoid the old index being added as
    a column:

    >>> df.reset_index(drop=True)
        class  max_speed
    0    bird      389.0
    1    bird       24.0
    2  mammal       80.5
    3  mammal        NaN

    You can also use `reset_index` with `MultiIndex`.

    >>> index = pd.MultiIndex.from_tuples([('bird', 'falcon'),
    ...                                    ('bird', 'parrot'),
    ...                                    ('mammal', 'lion'),
    ...                                    ('mammal', 'monkey')],
    ...                                   names=['class', 'name'])
    >>> columns = pd.MultiIndex.from_tuples([('speed', 'max'),
    ...                                      ('species', 'type')])
    >>> df = pd.DataFrame([(389.0, 'fly'),
    ...                    ( 24.0, 'fly'),
    ...                    ( 80.5, 'run'),
    ...                    (np.nan, 'jump')],
    ...                   index=index,
    ...                   columns=columns)
    >>> df
                   speed species
                     max    type
    class  name
    bird   falcon  389.0     fly
           parrot   24.0     fly
    mammal lion     80.5     run
           monkey    NaN    jump

    If the index has multiple levels, we can reset a subset of them:

    >>> df.reset_index(level='class')
             class  speed species
                      max    type
    name
    falcon    bird  389.0     fly
    parrot    bird   24.0     fly
    lion    mammal   80.5     run
    monkey  mammal    NaN    jump

    If we are not dropping the index, by default, it is placed in the top
    level. We can place it in another level:

    >>> df.reset_index(level='class', col_level=1)
                    speed species
             class    max    type
    name
    falcon    bird  389.0     fly
    parrot    bird   24.0     fly
    lion    mammal   80.5     run
    monkey  mammal    NaN    jump

    When the index is inserted under another level, we can specify under
    which one with the parameter `col_fill`:

    >>> df.reset_index(level='class', col_level=1, col_fill='species')
                  species  speed species
                    class    max    type
    name
    falcon           bird  389.0     fly
    parrot           bird   24.0     fly
    lion           mammal   80.5     run
    monkey         mammal    NaN    jump

    If we specify a nonexistent level for `col_fill`, it is created:

    >>> df.reset_index(level='class', col_level=1, col_fill='genus')
                    genus  speed species
                    class    max    type
    name
    falcon           bird  389.0     fly
    parrot           bird   24.0     fly
    lion           mammal   80.5     run
    monkey         mammal    NaN    jump

In [40]:
df.index.name="用户ID"

In [45]:
df

      姓名  年龄   国家   分数  大陆
用户ID
1001  马克  55  意大利  4.5  欧洲
1000  约翰  33   美国  6.7  美洲
1002  提姆  41   美国  3.9  美洲
1003  珍妮  12   德国  9.0  欧洲

In [56]:
a = (df["年龄"] > 33) & (df["国家"] != "美国")
a

用户ID
1001     True
1000    False
1002    False
1003    False
dtype: bool

In [62]:
df.loc[a, :]

Index(['姓名', '年龄', '国家', '分数', '大陆'], dtype='object')

In [83]:
data = np.array({
                "城市1": [300.1, 100.2],
                "城市2": [400.3, 300.4],
                "城市3": [1000.5, 1100.6]})
[print(1) for row in data]

TypeError: iteration over a 0-d array

In [65]:
df.columns.name="列名->"
df.index.name="用户ID"
df

列名->  姓名  年龄   国家   分数  大陆
用户ID
1001  马克  55  意大利  4.5  欧洲
1000  约翰  33   美国  6.7  美洲
1002  提姆  41   美国  3.9  美洲
1003  珍妮  12   德国  9.0  欧洲

SyntaxError: invalid syntax (<ipython-input-66-493faab53ec2>, line 1)

In [ ]:
df.T

In [ ]:
df.T()

In [ ]:
help(df.reindex)

In [ ]:
help(df.loc)