In [5]:
import pandas as pd
rainfall = pd.DataFrame(data={
    "城市1": [300.1, 100.2],
    "城市2": [400.3, 300.4],
    "城市3":[100.5, 110.6]})
# rainfall[rainfall < 400] = 0
rainfall

     城市1    城市2    城市3
0  300.1  400.3  100.5
1  100.2  300.4  110.6

In [6]:
print(rainfall.add(rainfall.loc[:, "城市2"], axis=0))
print("\n")
a2 = rainfall.loc[1, ["城市2"]]

print(a2)

rainfall + a2

     城市1    城市2    城市3
0  700.4  800.6  500.8
1  400.6  600.8  411.0


城市2    300.4
Name: 1, dtype: float64

   城市1    城市2  城市3
0  NaN  700.7  NaN
1  NaN  600.8  NaN

In [21]:
import numpy as np
rainfall.loc[0,"城市1"] = np.nan
rainfall

     城市1    城市2    城市3
0    NaN  400.3  100.5
1  100.2  300.4  110.6

In [23]:
rainfall.sum()

城市1    100.2
城市2    700.7
城市3    211.1
dtype: float64