In [2]:
import pandas as pd

In [3]:
pd.read_excel("课程参与者.xlsx")

   用户id  姓名  年龄   国家   分数  大陆
0  1001  马克  55  意大利  4.5  欧洲
1  1000  约翰  33   美国  6.7  美洲
2  1002  提姆  41   美国  3.9  美洲
3  1003  珍妮  12   德国  9.0  欧洲

In [5]:
data = [["马克", 55, "意大利", 4.5, "欧洲"],
                ["约翰", 33, "美国", 6.7, "美洲"],
                ["提姆", 41, "美国", 3.9, "美洲"],
                ["珍妮", 12, "德国", 9.0, "欧洲"]]
df = pd.DataFrame(data=data,     
                          columns=["姓名", "年龄", "国家", "分数", "大陆"],
                          index=[1001, 1000, 1002, 1003])
df.loc[:, "折扣"] = 0
df

      姓名  年龄   国家   分数  大陆  折扣
1001  马克  55  意大利  4.5  欧洲   0
1000  约翰  33   美国  6.7  美洲   0
1002  提姆  41   美国  3.9  美洲   0
1003  珍妮  12   德国  9.0  欧洲   0

In [7]:
df.loc[1003,'姓名'] = None
df

        姓名  年龄   国家   分数  大陆  折扣
1001    马克  55  意大利  4.5  欧洲   0
1000    约翰  33   美国  6.7  美洲   0
1002    提姆  41   美国  3.9  美洲   0
1003  None  12   德国  9.0  欧洲   0

In [8]:
df.clean()

AttributeError: 'DataFrame' object has no attribute 'clean'